<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K1T5T7D0XL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-K1T5T7D0XL');
    </script>
    <title>World whide board</title>
    {% load static %}   
    <link rel="stylesheet" href="{% static '/main/css/index.css' %}">
</head>
<body>
    <div class="container">
        <h1>World whide board</h1>
        <p>By Jules Immerzeel</p>
        <p>Subscribe to my <a href="https://www.youtube.com/channel/UCVB5_jxSqSLNyg-uwqqPnUQ/featured?sub_confirmation=1">youtube channel</a> if you would like me to do a tutorial :)</p>


        <div id="palette">
        <button class="blue active" onclick="c.changeColor('blue')"/>
        <button class="red" onclick="c.changeColor('red')"/>
        <button class="yellow" onclick="c.changeColor('yellow')"/>
        <button class="green" onclick="c.changeColor('green')"/>
        <button class="black" onclick="c.changeColor('black')"/>


        </div>
        <div class="slidecontainer">
            <input type="range" min="1" max="75" value="5" class="slider" id="brushSize" oninput="c.lineWidth = this.value">
        </div>
    </div>
    <script src="{% static '/main/js/main.js' %}"></script>
</body>
</html>